.description.stylesR {
    color: white;
    background-color: tomato;
    width: 250px;
}

.tomato {
    color: black;
    background-color: tomato;
    width: 250px;

    height: 170px;
}
.tomato button {
    height: 25px;
}
.description {
    background-color: teal;
    color: white;
    width: 250px;
}
h1.tomato {
    word-wrap: break-word;
}
.buttonHolder {
    display: flex;
}
.bottomButtonHolder {
    display: flex;
}
